.userCard {
	padding: 0.5em;
	border-radius: var(--radius-sm);
	display: flex;
	align-items: center;
	gap: 0.5em;

	.smallText {
		font-size: 0.75rem;
		font-style: italic;
	}

	.avatar {
		height: 30px;
		width: 30px;
		border-radius: var(--radius-sm);
		background-color: var(--color-secondary);
		object-fit: cover;
	}

	.role {
		font-size: 0.75rem;
		color: var(--color-muted);
		margin-bottom: 10px;
	}

	.iconsContainer {
		margin-top: 6px;
	}

	.deleteIcon {
		background-color: transparent;
		padding: 0;
		font-size: 0.875rem;
	}
}
