.groupCard {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
	margin: 16px;
}

.buttonsContainer {
	display: flex;
	gap: 1em;

	.deleteButton {
		background-color: rgb(223, 60, 60);
	}
}
