.groupCard {
	background-color: var(--color-background-white);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 1em;
	margin-block: 1em;
	max-width: 400px;

	header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		h3 {
			margin-top: 0;
		}
	}

	.updatedText {
		margin: 0;
		font-size: 0.75rem;
		font-style: italic;
		margin-bottom: 0.6em;
	}

	.role {
		color: var(--color-muted);
		font-size: 0.75rem;
	}
}

.highlight {
	background-color: #d4e8f9;
}

.buttonsContainer {
	display: flex;
	gap: 1em;

	.deleteButton {
		background-color: var(--color-danger);
	}
}
