.layoutContainer {
	display: flex;
	flex-direction: column;
	max-width: 100%;

	.container {
		flex: 1;
		display: flex;
		height: 100vh;
		margin: 0;
		padding: 0;
		overflow: hidden;

		ul {
			list-style: none;
			padding: 0;
		}

		.main {
			flex: 1;
			padding: 1em;
			overflow-y: auto;
			margin-left: 220px;

			@media (max-width: 700px) {
				margin-left: 60px;
			}

			/* remove margin left as the sidebar does not appear on mobile and add margin bottom instead */
			@media (max-width: 500px) {
				margin-left: 0;
				margin-bottom: 60px;
			}
		}
	}
}
