.table {
	width: 100%;
	table-layout: fixed;

	tbody tr:nth-child(even) {
		background-color: var(--color-light-grey);
	}
	th {
		text-align: left;
	}

	.columnOne {
		width: 30px;
	}

	.qty {
		width: 10%;
	}

	.edit {
		width: 15%;
	}

	td,
	th {
		padding: 0.2em;
	}

	tbody tr {
		input {
			cursor: pointer;
		}
		transition: filter 0.3s ease;
	}

	tbody tr:hover {
		filter: brightness(110%);
	}
}
