/* Light theme (default) */
:root {
	--color-bg: #f9f9f9;
	--color-background-white: white;
	--color-text: #222222;
	--color-primary: #1976d2;
	--color-primary-dark: #125aa0;
	--color-light-grey: #fafafa;
	--color-secondary: #ff9800;
	--color-border: #e0e0e0;
	--color-muted: #777;
	--color-danger: #f54040;
	--radius-sm: 4px;
	--radius-md: 8px;
	--shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
}

html.light {
	--color-bg: #f9f9f9;
	--color-background-white: white;
	--color-text: #222222;
	--color-primary: #1976d2;
	--color-primary-dark: #125aa0;
	--color-light-grey: #fafafa;
	--color-border: #e0e0e0;
	--color-muted: #777;
}

/* Dark theme */
html.dark {
	--color-bg: #121212;
	--color-background-white: #333;
	--color-text: #e0e0e0;
	--color-light-grey: #515050;
	--color-muted: #aaa;
	--shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.4);
	--color-bg: #121212;
	--color-text: #e0e0e0;
	--color-border: #545353;
	--color-background-white: #333;
	--color-light-grey: #515050;
}
