.metricGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 0.5em;
}

.groupTab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--color-border);
	padding: 0.5em;
	margin-block: 1em;

	h4 {
		margin: 0;
	}

	.tab {
		background-color: var(--color-border);
		font-size: 0.75rem;
		padding: 0.5em;
		border-right: 1px solid var(--color-muted);
		cursor: pointer;
		transition: filter 0.3s ease;

		&:hover {
			filter: brightness(110%);
		}
	}
}

.chartWrapper {
	@media (max-width: 600px) {
		height: 350px;
	}
}

.doughnutWrapper {
	max-height: 500px;
	margin: 0 auto;
}

.chartWithNotification {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	margin-top: 2em;

	.doughnutWrapper {
		flex: 1;
		width: 50%;
	}

	.notifications {
		flex: 1;
		width: 50%;

		.notificationsTitle {
			margin-top: 0;
		}
	}

	@media (max-width: 800px) {
		flex-direction: column;
		.doughnutWrapper {
			flex: 1;
			width: 100%;
		}

		.notifications {
			flex: 1;
			width: 100%;
		}
	}
}
