@use "./styles/_variables.scss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-text);
	background-color: var(--color-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html,
body {
	transition:
		background-color 0.25s ease,
		color 0.25s ease;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

a:hover {
	color: var(--color-primary);
}

body {
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
button {
	padding: 0.4em 1.2em;
	border-radius: var(--radius-sm);
}

.button {
	cursor: pointer;
	border: none;
	font-family: inherit;
	background-color: var(--color-primary);
	// padding: 0.4em 1.2em;
	color: white;
	// border-radius: var(--radius-sm);

	&:disabled {
		background-color: var(--color-muted);
		cursor: not-allowed;
	}
}

button.back-button {
	border: 0;
	background-color: transparent;
	color: var(--color-primary);
	font-size: 0.875rem;
	padding: 0;
	margin-bottom: 0.5em;
	display: flex;
	align-items: end;
	gap: 0.2em;
	transition: color 0.3s ease;

	&:hover {
		color: var(--color-muted);
	}
}

button.invertedButton {
	// padding: 0.4em 1.2em;
	background-color: var(--color-background-white);
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}

.action-btn {
	display: flex;
	align-items: center;
	gap: 0.4em;
	padding: 0.4em 0.6em;
	border-radius: 6px;
	cursor: pointer;
	border: none;
	font-size: 0.75rem;
	background: var(--color-secondary);

	.label {
		display: inline;

		@media (max-width: 768px) {
			display: none; /* hide text on mobile */
		}
	}
}

.danger {
	background-color: var(--color-danger);
	color: white;
}

.buttonsContainer {
	display: flex;
	gap: 0.5em;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	color: var(--color-primary);
	animation: spin 1s linear infinite;
}

.group-category-item-form {
	display: flex;
	flex-direction: column;
	gap: 0.6em;
	width: 100%;
	max-width: 400px;
	padding: 0.5em;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #121212;
		--color-text: #e0e0e0;
		--color-border: #545353;
		--color-background-white: #333;
		--color-light-grey: #515050;
	}
}

@media (min-width: 500px) {
	html {
		font-size: 120%;
	}
}
