.iconBtn {
	background: var(--color-primary);
	padding: 0.4rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	color: white;
	border-radius: var(--radius-sm);
	transition:
		background 0.15s ease,
		color 0.15s ease;

	.icon {
		margin-top: 2px;
	}

	&:hover {
		background: rgba(0, 0, 0, 0.05);
		color: #000;
	}
}

.danger {
	background-color: var(--color-danger);
}
.dark {
	background-color: black;
}
